<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <title>Courses</title>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="fragments/menu :: header"/>
<h1> Форма добавления курса </h1>

<form action="/course/save" method="post">
    <div class="form-group">
        <label for="name">Название</label>
        <input type="text" class="form-control" id="name" name="name">
    </div>
    <div class="form-group">
        <label for="duration">Продолжительность</label>
        <input type="number" class="form-control" id="duration" name="duration">
    </div>
    <button type="submit" class="btn btn-success">Создать</button>
    <a class="btn btn-primary" href="/courses" role="button">Back</a>
</form>
<script type="text/javascript" th:src="@{/static/js/jquery-3.4.1.slim.min.js}"/>
<script type="text/javascript" th:src="@{/static/js/popper.min.js}"/>
<script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"/>

</body>
</html>